
table, th, td {
    border: 1px solid;
    
  }
table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
  }
button{
    margin-left: 1vw;
}
#add_row_btn{
    position: absolute;
    left: 45vw;
    margin-top: 1vh;
}
